/************************ 1.Default CSS ***************************/
html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:focus,
a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

@media (min-width: 767px) {
    body {
        max-width: 600px;
        margin: 0 auto !important;
    }

    .top-navbar {
        max-width: 600px;
    }
}

.mt-32 {
    margin-top: 32px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.ml-0 {
    margin-left: 0 !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-12 {
    margin-top: 12px;
}

.mt-10 {
    margin-top: 10px;
}

.pt-12 {
    padding-top: 12px;
}

.pf-15 {
    padding-left: 15px;
}

input {
    border: none;
    width: 100%;
}

input:focus-visible {
    outline: none;
}

.primary-color {
    color: #0EA5E9 !important;
}

.second-color {
    color: #666666;
}

.main {
    height: 100vh;
}

.bg-green {
    background: #25D366;
}

.bg-red {
    background: #ED0006;
}

.bg-blck {
    background: #1E293B;
}

.col-gap-5 {
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#sign-in-screen,
#sign-up-screen {
    padding-bottom: 16px;
}

#sign-in-screen {
    position: relative;
    width: 100%;
}

/************************ 1.Sign In screen ***************************/
.sign-in button {
    width: 200px;
    height: 48px;
    background: #0EA5E9;
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: auto;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
}
.sign-in a {
    width: 200px;
    height: 48px;
    background: #393a3a;
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: auto;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
}

.sign-in-screen-top h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #1E293B;
    padding-top: 60px;
}

.sign-in-cont {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin-top: 8px;
}

.Password {
    margin-top: 16px;
}

.remember-sec {
    margin-top: 24px;
}

.txt-lbl {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

i.fas.fa-eye-slash,
i.fas.fa-eye {
    color: #666666;
}

.form_bottom_boder {
    height: 1px;
    background: rgb(30 41 59 / 10%);
}

input#email:focus-visible,
input#password:focus-visible {
    outline: none;
}

.remember-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    padding-left: 6px;
}

.remember-btn:hover {
    color: #666666 !important;
}

.forget-btn:hover {
    color: #0EA5E9;
}

.forget-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #0EA5E9;
}

.or_sign {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #666666;
}

.icon-box {
    width: 48px;
    height: 48px;
    background: rgb(14 165 233 / 10%);
    border-radius: 8px;
}

.icon-box a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
}

.block-footer p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #666666;
}

.block-footer a {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1E293B;
}

/************************ 5.Halaman Awal ***************************/
.product-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-img-sec {
    width: 64px;
    height: 64px;
    background: #ffffff;
    border-radius: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.product-sec {
    background: #F6F8FA;
    border-radius: 37px 37px 4px 4px;
    width: 130px;
    height: 100px;
    padding: 5px 5px 8px 5px;
}

.proct-title-hp-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #666666;
    margin-top: 8px;
}

.product-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

.prodcut-sec-slide-full {
    background-image: url(../images/homepage2/shop-now.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    position: relative;
    border-radius: 8px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header {
    background-color: #5194E0;
    padding: 20px;
    color: white;
    border-radius: 0 0 20px 20px;
}

.header h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-weight: 600;
}

.profile-info {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: #dcdcdc;
    border-radius: 50%;
    margin-right: 15px;
}
.avatar img {
    width: 100%;
    height: auto;
}

.user-details h3 {
    margin: 0;
    font-size: 18px;
    color: #000000;
    font-family: 'Poppins';
    font-weight: 600;
}

.badge {
    background-color: #5194E0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 500;
}

.time-info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.time-item h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Poppins';
}
.time-item p {
    text-align: center;
   font-family: 'Poppins';
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.wfh-button,
.wfo-button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.wfh-button {
    background-color: white;
    border: 2px solid #1e90ff;
    color: #1e90ff;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
}

.wfo-button {
    background-color: #ffa500;
    color: white;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.main-menu a {
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 500;
}

.time-tracker {
    margin-top: 20px;
}

.time-tracker h2 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-weight: 500;
}
.time-tracker p {
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 500;
}

.tracker-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tracker-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.masuk,
.pulang {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}

.masuk h3,
.pulang h3 {
    margin: 0;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
}
/************************ 6. Karyawan ***************************/
.header .d-flex1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Pastikan elemen dalam header diatur ke tengah */
    position: relative;
}

.header .back-icon {
    position: absolute;
    left: 10px;
}

.header h2 {
    margin: 0;
    color: white;
    font-size: 24px;
}
